.ScreenContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

.CurrentScreenContainer {
    display: inline-block;
    z-index: 0;
}

.NextScreenContainer {
    display: inline-block;
    z-index: 999;
}

.OverlayScreenContainer {
    display: inline-block;
    z-index: 9999;
}