.CurrentScreenContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.NextScreenContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}